{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h3 class="titulo">Book Finder</h3>
    </header>
    <main>
      <a href="/pesquisar">
        <div class="btn-opcao">
          <h3>Pesquisar Livro</h3>
        </div>
      </a>
      <a href="/cadastrar">
        <div class="btn-opcao">
          <h3>Cadastrar Livro</h3>
        </div>
      </a>
      <a href="/listagem">
        <div class="btn-opcao">
         <h3>Listagem Geral</h3>
        </div>
      </a>
    </main>
    <footer class="fixed-bottom">
      <h5>&copy; Todos os direitos reservados</h5>
    </footer>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</html>
